#button-game {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: var(--accent);
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}