@import url("./buttons.css");

.game-content {
    border-radius: 50px;
    background: var(--cards);
    /* box-shadow: -28px 28px 55px #161616, 20px 0px 55px #222222; */
    padding: 5px;
    margin: 15px;
}

.game-content-gain,
.game-content-time {
    font-size: 20px;
}